body{
}
header a{
    text-transform: capitalize;
}
.container {
    width: auto;
}
article div.container{
    width: 1280px;
    padding: 0px;
}
nav.navigation{
	font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
	width: 930px;
    padding: 0px;
    color: #515862;
    margin: auto;
}
.navbar-brand{
    padding-top: 30px;
    padding-bottom: 50px;
}
.navbar-default{
    border: none;
    background: #fff;
}
.navbar-default .navbar-nav > li > a{
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-right: 150px;
}
.container-fluid{
    padding: 0px;
}
.navbar-default .navbar-nav > .active > a
{
    background: #12a3d6;
}
.navbar-default .navbar-nav > .active > a:hover{
    background: #12a3d6;
}
.navbar-default .navbar-nav > li > a{
    background: none;
}
.navbar-default .navbar-nav > li > a:hover{
    background: #12a3d6;
}
.search{
    margin-right: 3px;
}
.nav-but{
    margin: 30px 10px;
}
.nav-but a{
    padding: 5px 15px;
    color: #515862;
}
.nav-but:hover{
    margin: 30px 7px;
}

.nav-but a:hover{
    text-decoration: none;
    background: #f98561;
    color: #ffffff;
    padding: 3px 17px;
    border: 1px solid #f98561;
    border-radius: 5px;
}
.nav-but a:focus{
    text-decoration: none;
}
.nav > li.search > a{
    font-size: 12px;
    color: #515862;
    padding: 23px 15px 21px;
}
.nav > li.search > a:hover,
.nav > li.search > a:focus{
    background: none;
}
.nav > li > a > img{
    margin-left: 5px;
}
li{
    margin-right: 5px;
}
.services{
    min-height: 308px;
    background: #f4f4f4;
}
.portfolio{
    background: #2e3e4f;
    min-height: 515px;
}
.slider{
    position: relative;
}
.slogan{
    /*border: 1px solid black;*/
    position: absolute;
    top: 16%;
    left: 50%;
    color: #cccece;
    text-align: center;
    margin-left: -325px;
}
.slogan h1{
    font-family: bebas_neueregular;
    text-transform: uppercase;
    font-size: 60px;
}
.slogan p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 40px;
}
.slogan_button{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px 58px;
    color: #ffebca;
    border-radius: 5px;
}
.slogan_button:hover{
   text-decoration: none;
    background: #f98561;
    color: #ffebca;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-right: 50px;
    }
    nav.navigation{
        width: auto;
    }
    .slogan{
        top: 18%;
        left: 50%;
        margin-left: -320px;
    }
    .slogan p{
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 844px){
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-right: 0px;
    }
    li{
        margin-right: 0px;
    }
    .slogan{
        top: 18%;
        left: 50%;
        margin-left: -295px;
    }
    .slogan h1 {
        font-size: 40px;
    }
    .slogan p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
    }
    .slogan_button{
        line-height: 80px;
        font-size: 20px;
    }
    .slogan p{
        padding-bottom: 5px;
        margin-bottom: 0px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .navbar-brand {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .butn{
        margin-top: 12px;
    }
    .slogan{
        top: 5%;
        left: 50%;
        margin-left: -190px;
    }
    .slogan h1 {
        font-size: 40px;
        margin-top: 0px;
    }
    .slogan p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: -15px;
    }
    .slogan_button{
        font-size: 15px;
        padding: 7px 25px;
    }
    .slider .slogan p.visible-xs{
        text-align: center;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .slogan{
        top: 0%;
        left: 50%;
        margin-left: -140px;
    }
    .slogan h1 {
        font-size: 20px;
        margin-top: 0px;
    }
    .slogan p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: -20px;
    } .slogan_button{
          font-size: 12px;
          padding: 5px 20px;
      }
}
