body{
}
header a{
    text-transform: capitalize;
}
.container {
    width: auto;
}
nav.navigation{
	font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
	width: 930px;
    padding: 0px;
    color: #515862;
    margin: auto;
}
.navbar-brand{
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-default{
    border: none;
    background: #fff;
}
.navbar-default .navbar-nav > li > a{
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-right: 150px;
}
.container-fluid{
    padding: 0px;
}
.navbar-default .navbar-nav > .active > a
{
    background: #12a3d6;
}
.navbar-default .navbar-nav > .active > a:hover{
    background: #12a3d6;
}
.navbar-default .navbar-nav > li > a{
    background: none;
}
.navbar-default .navbar-nav > li > a:hover{
    background: #12a3d6;
}
.nav-but{
    margin: 30px 10px;
}
.nav-but a{
    padding: 5px 15px;
    color: #515862;
}
.nav-but:hover{
    margin: 30px 7px;
}

.nav-but a:hover{
    text-decoration: none;
    background: #f98561;
    color: #ffffff;
    padding: 3px 17px;
    border: 1px solid #f98561;
    border-radius: 5px;
}
.nav-but a:focus{
    text-decoration: none;
}
.nav > li.search > a{
    font-size: 12px;
    color: #515862;
    padding: 23px 15px 21px;
}
.nav > li.search > a:hover,
.nav > li.search > a:focus{
    background: none;
}
.nav > li > a > img{
    margin-left: 5px;
}
li{
    margin-right: 5px;
}
.slider{
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-right: 50px;
    }
    nav.navigation{
        width: 830px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   
}
